.camp {
 width: 64px;
 aspect-ratio: 1/1;
 margin: 20px auto;
 border-radius: 50%;
 padding: 5px;
 box-sizing: border-box;
 border: 2px solid rgba(0,0,0,0);
 transition: 0.25s;
}

.camp:hover {
 border: 2px solid var(--main-gold)
}

.camp img { 
 width :100%;
}